$maxWidth: 2560;

@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;


    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }

    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * (100vw / #{$maxWidth}));
    }
}


.textrubber {
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: #121417;

    @include adaptiv-font(48, 20);

    @media (min-width: 1440px) {
        white-space: wrap;
    }
}

.textrubber-nowrap {
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: #121417;
    white-space: nowrap;

    @include adaptiv-font(48, 20);

    @media (min-width: 1440px) {
        white-space: wrap;
    }
}